.message-back {
    margin: 20px auto;
    /*background: yellow;*/
    border-radius: 30px;
    /*-webkit-border-radius: 10px;*/
    /*-moz-border-radius:10px;*/
    background: rgba(255, 255, 0, 0.6);
}

.message {
    font-size: 80px;
    color: green;
    font-family: arial, sans-serif;
}
